@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.container {
  position: relative;
  width: 650px;
  height: 100%;
  margin: 0 auto;
}

.hero-section {
  overflow: hidden;
}

.img-bg {
  display: flex;
  filter: contrast(1.3);
}

.radial-gradient {
  position: absolute;
  top: 0;
  right: -60%;
  width: 160%;
  height: 100%;
  background: radial-gradient(
    ellipse at 110% 50%,
    rgba(50, 50, 50, 0.8) 0%,
    rgba(230, 230, 230, 0.2) 80%
  );
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.call-to-action {
  position: absolute;
  top: 45%;
  right: 15px;
  width: 60%;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.95rem;
  color: #fff;
  text-align: right;
  margin: 0;
  padding: 0;
}
.hero-section button {
  position: absolute;
  bottom: 60px;
  right: 15px;
  width: 210px;
  height: 50px;
  background-color: #f06400;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  text-align: text-center;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 25px;
}
.hero-section span {
  margin-left: 20px;
  font-size: 1.3rem;
}

.advert {
  position: absolute;
  display: block;
  bottom: -90px;
  width: 94%;
  margin: 0 3%;
  padding: 0.5rem 0;
  background-color: #00b1af;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.5rem;
  text-align: center;
}
.advert p {
  margin: 0;
}
.line1 {
  font-size: 1.3rem;
  font-weight: 700;
}
.line2 {
  font-size: 1.3rem;
  font-weight: 400;
}
.line3 {
  font-size: 1rem;
  font-weight: 700;
}
.line4 {
  font-size: 0.8rem;
  font-weight: 400;
}
.separator {
  width: 20%;
  height: 2px;
  background-color: #99e0df;
  margin: 0.3rem 40%;
}

.grid {
  width: 610px;
  position: relative;
  display: grid;
  /* :gap 50px 20px; */
  align-items: end;
  grid-template-columns: repeat(2, 1fr);
  margin: 90px auto 0;
  padding: 0;
}
.grid article {
  position: relative;
  margin: 80px auto 120px;
}

.was {
  position: absolute;
  bottom: 135px;
  left: 60%;
  font-weight: 700;
  font-size: 1.2rem;
}
.crossed-out {
  position: absolute;
  bottom: 160px;
  left: 60%;
}
.now {
  position: absolute;
  bottom: 90px;
  left: 60%;
  font-weight: 700;
  font-size: 2rem;
  color: #f06400;
}
.ttc {
  position: absolute;
  bottom: 100px;
  right: 0;
  font-weight: 500;
  font-size: 0.7rem;
  color: #f06400;
}
.grid button {
  position: absolute;
  right: 0;
  width: 130px;
  height: 30px;
  background-color: #f06400;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 25px;
}
.vehicle {
  position: absolute;
  display: block;
  width: 300px;
  margin-top: 50px;
  text-align: center;
}
.model {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0;
}
.serie {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

.advantages {
  position: relative;
  display: block;
  width: 610px;
  margin: 0 auto;
  padding: 0;
}
.advantages h1 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 20px 0 5px;
}
.underline {
  width: 40%;
  height: 5px;
  background-color: #f06400;
}
.all-offers-btn {
  right: 15px;
  width: 380px;
  height: 50px;
  margin: 10px 135px;
  background-color: #f06400;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  text-align: text-center;
  padding: 0;
  border: none;
  border-radius: 25px;
}
.all-offers-btn span {
  margin-left: 30px;
  font-size: 1.3rem;
}
.prestations {
  display: flex;
  justify-content: space-around;
  margin: 20px auto 10px;
}

.presta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
}
.presta img {
  width: 55px;
  height: 55px;
  margin: 0;
}
.choice {
  position: relative;
  padding: 25px 30px;
  background-color: #00b1af;
}
.choice form {
  padding: 10px 30px;
  background-color: #fff;
}
.choice label {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 20px;
}
.choice select {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  font-size: 0.8rem;
  width: 150px;
  height: 30px;
}
.placeholder {
  display: none;
}
.choice button {
  position: absolute;
  width: 140px;
  height: 30px;
  background-color: #f06400;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
  margin-left: 30px;
  border: none;
  border-radius: 25px;
}
.choice span {
  margin-left: 20px;
  font-size: 1rem;
}
.mentions {
  position: relative;
  margin-top: 30px;
  padding: 15px 10px;
  background-color: #eee;
}
.mentions p {
  margin: 0;
  color: #a6a6a6;
  font-size: 0.63rem;
  font-weight: 500;
}
